[submodule "repos/docker.scad-toolchain"]
	path = repos/docker.scad-toolchain
	url = https://github.com/brainboxemb/docker.scad-toolchain.git

[submodule "repos/docker.scad-toolchain.test"]
	path = repos/docker.scad-toolchain.test
	url = https://github.com/brainboxemb/docker.scad-toolchain.test.git

[submodule "repos/tool.scad-project"]
	path = repos/tool.scad-project
	url = https://github.com/brainboxemb/tool.scad-project.git

[submodule "repos/template.scad-project"]
	path = repos/template.scad-project
	url = https://github.com/brainboxemb/template.scad-project.git

[submodule "repos/lib.scad.clamps"]
	path = repos/lib.scad.clamps
	url = https://github.com/brainboxemb/lib.scad.clamps.git
